a {
  color: white;
}

.logo {
  margin: 0;
}

.logo a {
  color: #e24c54 !important;
}

header nav a {
  margin-left: 1em;
  color: white;
}

header nav u {
  cursor: pointer;
}

nav * {
  text-decoration-color: #e24c54;
}

.dropdown a {
  margin-left: 0;
}

.dropdown {
  display: inline-block;
  position: relative;
  margin-left: 1em;
}

.dropdown ul {
  display: none;
  position: absolute;
  left: -1em;
  /*right: -1em;*/
  min-width: 100%;
  padding: 0;
  margin: 0;
  z-index: 999;
  text-align: left;
  background-color: #333;
  padding: 0.5em 1em;
  text-align: center;
}

.dropdown li {
  list-style: none;
  font-size: 16px;
}

.dropdown:hover ul {
  display: block;
}

nav.pagination {
  display: flex;
  position: relative;
  justify-content: space-between;
  min-height: 1em;
}

nav.pagination a {
  text-decoration: none !important;
  color: #e24c54;
  font-weight: bold;
  display: inline-block;
  width: 2em;
}

nav.pagination div:last-child a {
  text-align: end;
}

nav.pagination .label {
  position: absolute;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.qimp,
.active {
  color: #e24c54;
}

.table {
  color: #666;
}

.App-link {
  color: #61dafb;
}

.App-header {
  margin: 1em 0;
}

.responsive-chart {
  min-height: 80vh;
  margin-bottom: 1em;
  min-width: 100% !important;
  max-width: 100% !important;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.center {
  text-align: center;
}

table {
  width: 100%;
  font-size: 14px;
}

table a {
  color: white;
  text-decoration-color: #e24c54;
}

table svg {
  color: #e24c54;
  margin-left: 5px;
}

table thead {
  color: #fff;
}

table thead tr {
  background: #333;
}

table th {
  border: 1px solid #333;
}

table td {
  border: 1px solid #808080;
}

table .fresh td {
  border-color: inherit;
}

small.fresh {
  color: #6ce24c;
}

tbody td {
  text-align: center;
}

tbody td:first-child {
  text-align: right;
}

.copy-to-clipboard {
  cursor: pointer;
}