.logo {
  margin: 0;
}
header a {
  margin-left: 1em;
  color: white
}
.dropdown a {
  margin-left: 0;
}
.dropdown {
  display: inline-block;
}
.dropdown ul {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 999;
  text-align: left;
  background-color: #333;
  padding: 0.5em 1em;
}
.dropdown li {
  list-style: none;
  font-size: 18px;
}
.dropdown:hover ul {
  display: block;
}
.qimp, .active {
  color: #e24c54;
}
.table {
  color: #666;
}

.App-link {
  color: #61dafb;
}

.App-header {
  margin: 1em 0;
}
.responsive-chart {
  min-height: 80vh;
  margin-bottom: 1em;
  min-width: 100% !important;
  max-width: 100% !important;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}